@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap'); /*footer, botones*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); /*h1, datos*/

* {
    margin: 0;
    left: 0;
    top: 0;
    background-color: #EFECEC;
}

h1 {
    color:rgb(19, 19, 19);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    font-family: 'Indie Flower', cursive;
    font-size: 70px;
}

header {
    background-color: brown;
    display: flex;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
}

#Logo {
    display: flex;
    background: none;
    align-items: center;
}

nav a {
    font-size: 30px;
    font-weight: 600;
    padding-right: 20px;
    text-decoration: none;
    color: black;
}

#busqueda {
	position: absolute;
	left: 28%;
	top: 5%;
    background-color: rgb(255, 255, 255);
}

input {
	box-sizing: border-box;
	height: 50px;
	width: 420px;
    padding: 0 50px;
    border-radius: 50px;
    font-size: 30px;
    border: 3px solid black;
}

/*Todo del footer*/
footer .grupo1 {
    background-color: #5f768a;
    display: flex;
    border-radius: 4px;
    height: 60px;
    width: 100%;
    max-width: 98%;
    margin-bottom: 0%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 20px 10px;
}

footer .grupo1 .box {
    background-color: #5f768a;
}

footer .grupo1 .box h2 {
    color: rgb(255, 255, 255);
    background-color: #5f768a;
    font-size: 25px;
    margin-bottom: 5px;
    font-family: 'IBM Plex Mono', monospace;
}

footer .grupo1 .box p {
    color: rgb(226, 226, 238);
    background-color: #5f768a;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
}

footer .grupo1 .redes{
    background-color: #5f768a;
}

footer .grupo1 .redes a {
    background-color: #6b90b0;
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: rgb(255, 255, 255);
    margin-right: 53px;
    text-align: center;
    transition: all 300ms ease;
}

footer .grupo1 .redes a:hover {
    color: rgb(21, 224, 157);
}

footer .grupo2 {
    width: 98%;
    margin: auto;
    display: grid;
    background-color: #5f768a;
    padding: 15px 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}

footer .grupo2 small {
    background-color: #5f768a;
    font-size: 13px;
    font-family: 'IBM Plex Mono', monospace;
}

footer .grupo2 b {
    background-color: #5f768a;
    font-family: 'IBM Plex Mono', monospace;
}
