@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap'); /*footer, botones*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); /*h1, datos*/

div.galeria {
    margin: 15px 21px;
    box-shadow: 0 4px 8px 0 cyan, 0 6px 20px 0 black;
    float: left;
    width: 350px;
    margin-left: 42px;
}

div.galeria img {
    width: 100%;
    height: auto;
}

div.datos {
    text-align: center;
    text-shadow: 2px 2px 5px yellowgreen;
    padding: 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}

/*Boton Ver Producto*/
.galeria .datos .boton1 .boton { 
    background-color: rgb(87, 155, 55);
    color: rgb(255, 255, 255);
    text-align: center;
    max-width: 70%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    height: 40px;
}

.galeria .datos .boton1 .boton:hover {
    background-color: rgb(191, 202, 35);
    color: rgb(0, 0, 0);
    cursor: pointer; 
    transform: translatex(0px);
    opacity: 1;
}